html, body{
    background: linear-gradient(#ffffff, #e1ffed);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 96vh;
    margin: 0;
    padding: 0;
}

fieldset{
    display: flex;
    width: 93%;
    flex-direction: column;
    padding: 1rem;
    justify-content: left;
    align-items: normal;
    margin: 2rem;
    border-width: 2px;
    border-color: #186c4c;
    }

legend{
    text-align: center;
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

input,select{
    padding: 0.5rem;
    border-radius: 1rem;
    border-width: 1px;
    background-color: #e1ece6;
    font-size: 1.3rem;
    color:#1d1d1d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    transition: .5s;
}

input:hover,select:hover{
    opacity: 50%;
}

::placeholder{
    color:rgb(173, 180, 172);
    opacity:100%;
    font-style: italic;
    font-size: 1.0rem;
    }

label{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contratual {
    margin: 0.2rem;
    background-color: #e1ece6;
    color: #1d1d1d;
    width: 80%;
    min-width: 100px;
}

.banco-central {
    margin: 0.2rem;
    background-color: #f7ffd1;
    color: #2f6b35;
    width: 80%;
    min-width: 100px;
}

.banco-central-limit30 {
    margin: 0.2rem;
    width: 80%;
    background-color: #d6f5d3;
    color: #205c3b;
    min-width: 100px;
}

.banco-central-limit50 {
    margin: 0.2rem;
    width: 80%;
    background-color: #accb98;
    color: #000000;
    min-width: 100px;
}

.tabelajuros {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1px;
    border-style: solid;
    border-width: 0px;
    text-align: center;
}
.conclus {
    background: none;
    color: rgb(14, 2, 2);
    font-size: 1.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    border-style: none;
    border-width: 0px;
    text-align: justify;    
}
.botaoconclusao{
    background-color: black;
    border-radius: 0px;
}
.tldr{
    border-radius: 0px;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-width: 0px;
}

.valor-negativo{
    background-color: #ce7575;
}
.footer {
    margin-top: 0px;
    font-size: 14px;
    text-align: center;
    color: #555555;
}
.footer-table {
        margin: 0 auto; /* Centraliza a tabela horizontalmente */
        table-layout: fixed; /* Garante que as colunas tenham largura fixa */
        padding-top: 1rem;
}
    
.footer-table td {
        vertical-align: middle; /* Alinha verticalmente no meio */
        padding: 0.5rem;
}
.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}
.logo-footer {
    width: 350px; /* Ajuste o tamanho da logo conforme necessário */
}
.disclaimer {
    margin-left: 0rem;
    font-size: 0.8rem;
    font-weight: normal;
    width: 90%;
    text-align: justify;
    margin-left: 2rem;
    line-height: 90%;
}